### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Count of unique screen names
renamed_player_total = purchase_data_df.rename(columns={'SN': "Total Players"}).nunique()

# Display total number of players
player_total = renamed_player_total[['Total Players']].astype(float)
player_total

Total Players    576.0
dtype: float64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#.map('${:,.2f}'.format)
average_price = purchase_data_df["Price"].mean()

#converted_ufo["duration (seconds)"] = converted_ufo.loc[:, "duration (seconds)"].astype(float)

average_price

3.050987179487176

In [4]:
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [5]:
number_of_purchases = purchase_data_df["Price"].count()
number_of_purchases

780

In [6]:
unique_items = purchase_data_df["Item ID"].nunique()
unique_items

183

In [7]:
purchase_data_df["Average Price"] = average_price

In [8]:
# Creating a new DataFrame 
purchase_summary_table = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                       "Average Price": [average_price],
                                       "Total Revenue": [total_revenue], 
                                       "Number of Purchases": [number_of_purchases]})
purchase_summary_table.head()

   Number of Unique Items  Average Price  Total Revenue  Number of Purchases
0                     183       3.050987        2379.77                  780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Find the total number of players 

player_counts_df = purchase_data_df.loc[:, ["Gender", "Age", "SN"]]
player_counts_df = player_counts_df.drop_duplicates()

In [10]:
gender_counts = player_counts_df["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
gender_percentage = gender_counts / player_counts_df["Gender"].count() * 100
gender_percentage

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [12]:
gender_summary_table = pd.DataFrame({"Total Count": gender_counts, 
                             "Percentage of Players": gender_percentage})
gender_summary_table

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [ ]:
# frames = [df1, df2, df3]

# result = pd.concat(frames, keys=['x', 'y', 'z'])


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
purchase_count = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [14]:
total_purchase_value = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [15]:
average_purchase_price = total_purchase_value / purchase_count
average_purchase_price = average_purchase_price.rename("Average Purchase Price")
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [16]:
avg_total_person = total_purchase_value / gender_counts
avg_total_person = avg_total_person.rename("Average Total Purchase per Person")
avg_total_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Average Total Purchase per Person, dtype: float64

In [17]:
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price": average_purchase_price, 
                                        "Total Purchase Value": total_purchase_value,
                                        "Average Total Purchase per Person": avg_total_person
                                       })
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#bin then groupby

In [18]:
bins = [0, 9, 19, 29, 39, 50]

group_names = ["Less than 10", "10-19 year olds", "Twenties", "Thirties", "Forties"]

In [35]:
player_counts_df["Age Range"] = pd.cut(player_counts_df["Age"], bins, labels=group_names)
age_count = purchase_data_df.groupby("Age Range")
age_count = age_count.count()
age_count

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Average Price
Age Range,,,,,,,,
Less than 10,23,23,23,23,23,23,23,23
10-19 year olds,164,164,164,164,164,164,164,164
Twenties,466,466,466,466,466,466,466,466
Thirties,114,114,114,114,114,114,114,114
Forties,13,13,13,13,13,13,13,13

NameError: name 'total_count' is not defined

In [ ]:
purchase_data.max()

In [ ]:
purchase_data.min()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame