### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Count of unique screen names
renamed_player_total = purchase_data_df.loc[:, "SN"].nunique()

# Display total number of players

player_total_df = pd.DataFrame({"Total Number of Players": [renamed_player_total]})
player_total_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
average_price = purchase_data_df["Price"].mean()

average_price

3.050987179487176

In [4]:
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [5]:
number_of_purchases = purchase_data_df["Price"].count()
number_of_purchases

780

In [6]:
unique_items = purchase_data_df["Item ID"].nunique()
unique_items

183

In [7]:
purchase_data_df["Average Price"] = average_price

In [8]:
# Creating a new DataFrame 
#.map('${:,.2f}'.format) for better formatting
purchase_summary_table = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                       "Average Price": [average_price],
                                       "Total Revenue": [total_revenue], 
                                       "Number of Purchases": [number_of_purchases]})
purchase_summary_table.head()

   Number of Unique Items  Average Price  Total Revenue  Number of Purchases
0                     183       3.050987        2379.77                  780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Find the total number of players withoud duplicates

player_counts_df = purchase_data_df.loc[:, ["Gender", "Age", "SN"]]
player_counts_df = player_counts_df.drop_duplicates()
player_total = player_counts_df.count()[2]
# player_total = pd.DataFrame({"Total Number of Players": [player_total]})
player_total

576

In [10]:
gender_counts = player_counts_df["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
gender_percentage = gender_counts / player_counts_df["Gender"].count() * 100
gender_percentage

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [12]:
gender_summary_table = pd.DataFrame({"Total Count": gender_counts, 
                             "Percentage of Players": gender_percentage})
gender_summary_table

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
purchase_count = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [14]:
total_purchase_value = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [15]:
average_purchase_price = total_purchase_value / purchase_count
average_purchase_price = average_purchase_price.rename("Average Purchase Price")
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [16]:
avg_total_person = total_purchase_value / gender_counts
avg_total_person = avg_total_person.rename("Average Total Purchase per Person")
avg_total_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Average Total Purchase per Person, dtype: float64

In [17]:
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price": average_purchase_price, 
                                        "Total Purchase Value": total_purchase_value,
                                        "Average Total Purchase per Person": avg_total_person
                                       })
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
# Establish bins for ages
# purchase_data.max()
# purchase_data.min()
bins = [0, 9, 19, 29, 39, 150]

group_names = ["<10", "10-19", "20-29", "30-39", "40+"]

In [19]:
# Categorize the existing players using the age bins
player_counts_df["Age Range"] = pd.cut(player_counts_df["Age"], bins, labels=group_names)

In [20]:
# Calculate the numbers by age group
age_count = player_counts_df["Age Range"].value_counts()
age_count

20-29    335
10-19    129
30-39     83
<10       17
40+       12
Name: Age Range, dtype: int64

In [21]:
# Calculate the percentages by age group
age_percentages = age_count / player_total
age_percentages

20-29    0.581597
10-19    0.223958
30-39    0.144097
<10      0.029514
40+      0.020833
Name: Age Range, dtype: float64

In [22]:
age_demographics = pd.DataFrame({"Player Age Count Totals": age_count, "Player Percentages": age_percentages})
age_demographics = age_demographics.sort_index()
age_demographics

       Player Age Count Totals  Player Percentages
<10                         17            0.029514
10-19                      129            0.223958
20-29                      335            0.581597
30-39                       83            0.144097
40+                         12            0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# Bin the purchase_data data frame by age
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

In [24]:
# Run basic calculations
age_purchase_count = purchase_data.groupby(["Age Range"]).count()["Price"].rename("Purchase Count")
age_purchase_average = purchase_data.groupby(["Age Range"]).mean()["Price"].rename("Purchase Price Average")
age_purchase_data = purchase_data.groupby(["Age Range"]).sum()["Price"].rename("Total Purchase Amount")

In [25]:
# Calculate the average total per person
age_average_purchases_pp = age_purchase_data / age_demographics["Player Age Count Totals"]

# Make into DataFrame
age_purchasing_analysis_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Avg. Purchase Price": age_purchase_average,
                                          "Avg. Purchase Total Per Person": age_average_purchases_pp})
age_purchasing_analysis_df

           Purchase Count  Avg. Purchase Price  Avg. Purchase Total Per Person
Age Range
<10                    23             3.353478                        4.537059
10-19                 164             3.022378                        3.842403
20-29                 466             3.019442                        4.200179
30-39                 114             3.172544                        4.357470
40+                    13             2.941538                        3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
# Run basic calculations
user_number_spendings = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_average_spendings = purchase_data.groupby(["SN"]).mean()["Price"].rename("Purchase Price Average")
total_spendings = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

# Create summary data frame
user_spending_df = pd.DataFrame({"Purchase Count": user_number_spendings, "Purchase Price Average": user_average_spendings,
                                 "Total Purchase Value": total_spendings})

sorted_user_spending_df = user_spending_df.sort_values("Total Purchase Value", ascending=False)
sorted_user_spending_df.head()

             Purchase Count  Purchase Price Average  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
# Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

In [35]:
# Perform calculations to obtain purchase count, item price, and total purchase value
item_purchase_count = items_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Item Purchase Count")
item_purchase_total = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

In [40]:
# Create a summary data frame to hold the results and sort the purchase count column in descending order
summary_items_df = pd.DataFrame({"Item Purchase Count": item_purchase_count, "Total Purchase Value": item_purchase_total})

sorted_items_df = summary_items_df.sort_values("Item Purchase Count", ascending=False)
sorted_items_df.head()

,,Item Purchase Count,Total Purchase Value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
82,Nirvana,9,44.10
19,"Pursuit, Cudgel of Necromancy",8,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame